@using System.Security.Claims
<div class="navbar">
        <div class="navbar-inner">
        <div class="navbar-container">
            <div class="navbar-container-left">
                @*<div class="toogle-menu">
                    <input id="nav-input" type="checkbox">
                    <label id="sidebar-collapse" class="hamburger" for="nav-input"><span></span></label>
                </div>*@
                <div class="navbar-header">
                    <a href="/Home/Index" class="navbar-brand">
                            <img src="/img/logo.png" class="logo" title="Hệ thống quản trị trạm bơm">
                    </a>
                </div>
            </div>
            <div class="navbar-container-center">
                <div class="nav-cat">
                    
                </div>
            </div>
            <div class="navbar-container-right">
                <div class="navbar-header ">
                    <div class="navbar-account">
                        <ul class="account-area">
                            <li>
                                <a class="login-area" href="/Home/Index">
                                    <div class="avatar" title="admin">
                                        <img onerror="imgError(this,true);" class="myavatar" src="/" />
                                    </div>
                                    <section>
                                        <h2><span class="profile"><span>@User.Identity.Name</span></span></h2>
                                    </section>
                                    <i class="fa fa-caret-down click_caret" aria-hidden="true"></i>
                                </a>
                                <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area drop_click_caret">
                                    <!--Avatar Area-->
                                    <li class="user_ava">
                                        <div class="avatar-area">
                                            <img onerror="imgError(this,true);" src="/" class="myavatar avatar" />
                                        </div>
                                    </li>
                                    <li class="username"><a>@User.Identity.Name</a></li>
                                    <li class="user_logout">
                                        <a href="/User/Logout">
                                            <i class="fa fa-sign-out"></i> Đăng xuất
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>