$font: 'Montserrat', sans-serif;

$blue: #4285F4;
$red: #DB4437;
$yellow: #F4B400;
$green: #0F9D58;
$colors-list: $blue $red $yellow $green;

.overlayLoading {
    display: none;
    &.active {
        display: block;
        position: relative;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;

        .overlay {
            display: block !important;
        }

        .loader {
            display: block;
            z-index: 9999;
            position: fixed;
            top: 50%;
            left: 50%;

            span {
                display: inline-block;
                margin-top: 10px;
                height: 20px;
                width: 20px;
                border-radius: 50%;

                &:not(:first-child) {
                    margin-left: 10px;
                }
            }

            @each $current-color in $colors-list {
                $i: index($colors-list, $current-color);
                $t: $i * -0.25;

                span:nth-child(#{$i}) {
                    background: $current-color;
                    animation: move 0.5s ease-in-out (#{$t}s) infinite alternate;
                }
            }

        }

    }

}

@keyframes move {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(5px);
    }
}