//default
$Header-notifi: #FBBF24;//Màu background của Header thông báo
$Header-notifi-active: #FCD34D;  //Màu background của Header thông báo khi chọn

//Header color  
$bg-header: linear-gradient(90deg, #D97706 0%, #F59E0B 0.01%, #FBBF24 100%); //Màu backgroud của Header
$white: #fff !default;
$font-size-base: 14px !default;
$Header-dropdown-menu: #94a3b8 !default;
$Header-text-body: #fff !default; //Màu text của Header
$Header-light-blue: #08acfb !default;
$Header-bg-badge: #374151;  //Màu background badge thông báo
$black: #000;
$Header-text-disabled: #6c757d !default;
$Header-text-input: #333333 !default;
$height-header: 46px;
    //notifi


//layout color 
$Layout-bg-body: url('image/bg_viettel_idc.jpg');


//menu-left color
$Menu-bg-body:#F9FAFB !default;
$Menu-height-header-page: 46px !default;
$Menu-text-active: #D97706 !default;
$Menu-text-input: #333333 !default;
$Menu-text-placeholder: #939ba2 !default;
$Menu-text-placeholder: #939ba2 !default;
$Menu-text-body: #4B5563 !default;
$Menu-bg-button: #D97706 !default;
