.navbar {
    .navbar-inner {
        background: rgba(0, 0, 0, 0.08);
        background-color: rgba(0, 0, 0, 0.08) ;
        background-blend-mode: multiply;
        border-bottom: 1px solid rgba(255, 255, 255, 0.24) !important;
        width: 100%;
        .navbar-header .navbar-account .account-area {
            position: relative;
            right: 0;
        }
    }
    .navbar-container {
        padding-left: 20px !important;
        padding-right: 20px !important;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navbar-container-left {
            display: flex;
            align-items: center;
            justify-items: flex-start;
            position: relative;
            gap: 16px;
            .nav-cat {
                line-height: 0;
            }
        }
        .navbar-container-right {
            display: flex;
            align-items: center;
            justify-items: flex-end;
        }
    }
    .navbar-brand .logo {
        padding: 5px 0;
        height: 46px;
        width: auto;
        display: block;
    }
}

.navbar {
    .account-area {
        display: none;
    }
    .advanced_search_bar .form-control.input-sm {
        padding-left: 10px;
        background-color: transparent !important;
        background: none !important;
        color: $white;

        &:focus,
        &:active {
            color: $white !important;
            background-color: transparent !important;
            background: none !important;
        }

        &::placeholder {
            color: $white;
        }
    }
}

.nav-cat {
    width: auto;
    height: 100%;
    display: flex;
    p {
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        color: #94a3b8;
        margin-bottom: 0;
    }

    & > a.dropdown-toggle {
        display: flex;
        width: 40px;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-size: 24px !important;
        color: $white !important;
    }

    .dropdown-menu {
        background: $white;
        padding: 8px 0;
        border-radius: 6px !important;
        overflow: hidden;
    }

    .nav_dropdown {
        padding: 0;
        width: max-content;
        max-height: 460px;
        margin: 0;

        li {
            display: block;
            padding: 0 15px;
            position: relative;

            &:hover {
                background-color: #f0f0f0;
            }

            a {
                display: block;
                position: relative;
                padding: 6px 0 !important;
                font-size: 13px;
                font-weight: 400;
                color: #94a3b8 !important;
                display: flex;
                align-items: center;
                img {
                    width: 32px;
                    height: 32px;
                    margin-right: 12px;
                }
                &:hover,
                &:focus,
                &:active {
                    background-color: transparent !important;
                }
            }
        }
    }
}
