.login_mainContent {
  .itm_pic:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(25 99 111 / 45%);
    mix-blend-mode: screen;
  }
  .login-left {
    // width: 65%;
  }
  .login-right {
    // width: 35%;
    .form-login .btn_login {
      border-radius: 24px !important;
      background-color: $Menu-bg-button;
      transition: all 0.5s;
      &:hover {
        transition: all 0.3s;
        opacity: 0.8;
      }
    }
  }
}
