//default
$Header-notifi: #10B981;//Màu background của Header thông báo
$Header-notifi-active: #34D399;  //Màu background của Header thông báo khi chọn

//Header color  
$bg-header: linear-gradient(90deg, #059669 0%, #10B981 100%); //Màu backgroud của Header
$white: #fff !default;
$font-size-base: 14px !default;
$Header-dropdown-menu: #94a3b8 !default;
$Header-text-body: #fff !default; //Màu text của Header
$Header-light-blue: #08acfb !default;
$Header-bg-badge: #374151;  //Màu background badge thông báo
$black: #000;
$Header-text-disabled: #6c757d !default;
$Header-text-input: #333333 !default;
$height-header: 46px; 
    //notifi


//layout color 
$Layout-bg-body: url('image/bg_viettel_idc.jpg');


//menu-left color
$Menu-bg-body: #F9FAFB !default; //Màu background color button Menu-left
$Menu-height-header-page: 46px !default;
$Menu-text-active: #059669 !default;
$Menu-text-input: #414141 !default;
$Menu-text-placeholder: #939ba2 !default;
$Menu-text-body: #4B5563 !default;
$Menu-bg-button: #059669 !default;  //Màu background color button Menu-left
