//default
$Header-notifi: #3b82f6; //Màu background của Header thông báo
$Header-notifi-active: #60a5fa; //Màu background của Header thông báo khi chọn

//Header color
$bg-header: linear-gradient(90deg, #2563eb -1.94%, #3b82f6 100%);
$white: #fff !default;
$font-size-base: 14px !default;
$Header-dropdown-menu: #788495 !default;
$Header-text-body: #fff !default; //Màu text của Header
$Header-light-blue: #08acfb !default;
$Header-bg-badge: #374151; //Màu background badge thông báo
$black: #000;
$Header-text-disabled: #6c757d !default;
$Header-text-input: #333333 !default;
$height-header: 46px;
//notifi

//layout color
$Layout-bg-body: url("image/bg_viettel_idc.jpg");

//menu-left color
$Menu-bg-body: #f9fafb !default; //Màu background color button Menu-left
$Menu-height-header-page: 46px !default;
$Menu-text-active: #3b82f6 !default;
$Menu-text-input: #333333 !default;
$Menu-text-placeholder: #939ba2 !default;
$Menu-text-placeholder: #939ba2 !default;
$Menu-text-body: #4b5563 !default;
$Menu-bg-button: #2563eb !default; //Màu background color button Menu-left
