.btn {
    border-radius: 3px !important;
    height: 32px;
    line-height: 20px;

    &.btn-xs {
        height: 24px;

        & > .fa, & > .glyphicon, & > [class*="wi-"] {
            line-height: inherit !important;
            margin: 0 !important;
        }
    }
}

.btn-info, .btn-blue {
    background-color: $medium-blue !important;
}

.btn-info, .btn-blue, .btn-danger {
    border: none !important
}
.btns .btn-group .btn {
    text-align: center;
    font-size: inherit;
}